USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysRoleMenus]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoleMenus](
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CanView] [bit] NULL,
	[CanCreate] [bit] NULL,
	[CanEdit] [bit] NULL,
	[CanDelete] [bit] NULL,
	[CanPrint] [bit] NULL,
	[CanReport] [bit] NULL,
	[CanImport] [bit] NULL,
	[CanExport] [bit] NULL,
 CONSTRAINT [PK_SysRoleMenus] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SysRoleMenus] ([RoleId], [MenuId], [CanView], [CanCreate], [CanEdit], [CanDelete], [CanPrint], [CanReport], [CanImport], [CanExport]) VALUES (2, 2, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[SysRoleMenus] ([RoleId], [MenuId], [CanView], [CanCreate], [CanEdit], [CanDelete], [CanPrint], [CanReport], [CanImport], [CanExport]) VALUES (2, 7, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[SysRoleMenus] ([RoleId], [MenuId], [CanView], [CanCreate], [CanEdit], [CanDelete], [CanPrint], [CanReport], [CanImport], [CanExport]) VALUES (2, 11, 1, 1, 1, 1, 1, 1, 1, 1)
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF__SysRoleMe__CanVi__7B313519]  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF__SysRoleMe__CanCr__7C255952]  DEFAULT ((0)) FOR [CanCreate]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF__SysRoleMe__CanEd__7D197D8B]  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF__SysRoleMe__CanDe__7E0DA1C4]  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF_SysRoleMenus_CanPrint]  DEFAULT ((0)) FOR [CanPrint]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF_SysRoleMenus_CanReport]  DEFAULT ((0)) FOR [CanReport]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF_SysRoleMenus_CanImport]  DEFAULT ((0)) FOR [CanImport]
GO
ALTER TABLE [dbo].[SysRoleMenus] ADD  CONSTRAINT [DF_SysRoleMenus_CanExport]  DEFAULT ((0)) FOR [CanExport]
GO
ALTER TABLE [dbo].[SysRoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_SysRoleMenus_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[SysMenus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysRoleMenus] CHECK CONSTRAINT [FK_SysRoleMenus_Menu]
GO
ALTER TABLE [dbo].[SysRoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_SysRoleMenus_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[SysRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysRoleMenus] CHECK CONSTRAINT [FK_SysRoleMenus_Role]
GO
