USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysAccountRoles]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAccountRoles](
	[AccountId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_SysAccountRoles] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SysAccountRoles] ([AccountId], [RoleId]) VALUES (32, 1)
INSERT [dbo].[SysAccountRoles] ([AccountId], [RoleId]) VALUES (184, 1)
INSERT [dbo].[SysAccountRoles] ([AccountId], [RoleId]) VALUES (184, 3)
GO
