USE [DB_IU]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProvinceCode] [varchar](10) NULL,
	[District] [nvarchar](100) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ward] ([Code], [Name], [ProvinceCode], [District], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'10003', N'Xã Tây Phương', N'1', NULL, 0, 1, NULL, CAST(N'2026-07-18T21:54:50.9513702' AS DateTime2), NULL, NULL)
INSERT [dbo].[Ward] ([Code], [Name], [ProvinceCode], [District], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'10015', N'Phường Chương Mỹ', N'1', NULL, 0, 1, NULL, CAST(N'2026-07-18T21:54:51.0919963' AS DateTime2), NULL, NULL)
INSERT [dbo].[Ward] ([Code], [Name], [ProvinceCode], [District], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'10030', N'Xã Phú Nghĩa', N'1', NULL, 0, 1, NULL, CAST(N'2026-07-18T21:54:51.2482541' AS DateTime2), NULL, NULL)
GO
ALTER TABLE [dbo].[Ward] ADD  CONSTRAINT [DF_Ward_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Ward] ADD  CONSTRAINT [DF_Ward_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Ward] ADD  CONSTRAINT [DF_Ward_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
