USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysLogs]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RequestId] [varchar](50) NULL,
	[Method] [varchar](10) NULL,
	[Url] [varchar](500) NULL,
	[StatusCode] [smallint] NULL,
	[ResponseTime] [int] NULL,
	[Headers] [varchar](2500) NULL,
	[Body] [nvarchar](2000) NULL,
	[Response] [nvarchar](max) NULL,
	[Error] [nvarchar](max) NULL,
	[UserAgent] [varchar](255) NULL,
	[IpAddress] [varchar](45) NULL,
	[ForwardedFor] [varchar](100) NULL,
	[Origin] [varchar](100) NULL,
	[UserId] [int] NULL,
	[Level] [tinyint] NOT NULL,
	[Message] [nvarchar](200) NULL,
	[CreatedBy] [varchar](20) NULL
) ON [ps_SysLogs_Monthly]([CreatedAt])
WITH
(
DATA_COMPRESSION = PAGE
)
GO
/****** Object:  Index [PK_SysLogs]    Script Date: 7/28/2026 3:11:16 PM ******/
ALTER TABLE [dbo].[SysLogs] ADD  CONSTRAINT [PK_SysLogs] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_SysLogs_Monthly]([CreatedAt])
GO
ALTER TABLE [dbo].[SysLogs] ADD  CONSTRAINT [DF_SysLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SysLogs] ADD  CONSTRAINT [DF_SysLogs_Level]  DEFAULT ((3)) FOR [Level]
GO
