USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysRoles]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SysRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysRoles] ON 

INSERT [dbo].[SysRoles] ([Id], [Name], [Description], [IsActive]) VALUES (1, N'Super', N'Super (không giới hạn)', 1)
INSERT [dbo].[SysRoles] ([Id], [Name], [Description], [IsActive]) VALUES (2, N'Admin', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[SysRoles] OFF
GO
