USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysLocationPermissions]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLocationPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[ListCompany] [nvarchar](1500) NOT NULL,
	[Locked] [bit] NULL,
	[Notes] [nvarchar](150) NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SysLocationPermissions] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysLocationPermissions] ON 

INSERT [dbo].[SysLocationPermissions] ([Id], [AccountId], [ListCompany], [Locked], [Notes], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, 32, N'S0001,S0002', 0, NULL, N'admin', CAST(N'2026-07-20T10:56:27.823' AS DateTime), N'lytp', CAST(N'2026-07-27T14:15:03.410' AS DateTime))
INSERT [dbo].[SysLocationPermissions] ([Id], [AccountId], [ListCompany], [Locked], [Notes], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 184, N'S0001', 0, NULL, N'lytp', CAST(N'2026-07-20T21:16:07.757' AS DateTime), N'lytp', CAST(N'2026-07-27T14:14:24.487' AS DateTime))
INSERT [dbo].[SysLocationPermissions] ([Id], [AccountId], [ListCompany], [Locked], [Notes], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, 185, N'S0001', 0, NULL, N'lytp', CAST(N'2026-07-22T15:54:01.287' AS DateTime), N'lytp', CAST(N'2026-07-27T14:14:15.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[SysLocationPermissions] OFF
GO
ALTER TABLE [dbo].[SysLocationPermissions] ADD  CONSTRAINT [DF_SysCompanyPermissions_Locked]  DEFAULT ((0)) FOR [Locked]
GO
ALTER TABLE [dbo].[SysLocationPermissions] ADD  CONSTRAINT [DF_SysCompanyPermissions_CreatedBy]  DEFAULT ('admin') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SysLocationPermissions] ADD  CONSTRAINT [DF_SysCompanyPermissions_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
