USE [DB_IU]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Province] ([Code], [Name], [Region], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'1', N'Thành phố Hà Nội', N'Miền Bắc', 1, 1, NULL, CAST(N'2026-07-18T21:39:29.2630783' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:08:58.4230227' AS DateTime2))
INSERT [dbo].[Province] ([Code], [Name], [Region], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'11', N'Tỉnh Điện Biên', NULL, 4, 1, NULL, CAST(N'2026-07-18T21:39:29.6534647' AS DateTime2), N'lytp', CAST(N'2026-07-20T21:46:02.6496599' AS DateTime2))
INSERT [dbo].[Province] ([Code], [Name], [Region], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'12', N'Tỉnh Lai Châu', NULL, 5, 1, NULL, CAST(N'2026-07-18T21:39:29.8409717' AS DateTime2), NULL, NULL)
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
