USE [DB_IU]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Code] [varchar](25) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[StoreCode] [varchar](25) NULL,
	[Note] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[DepartmentCode] [varchar](25) NULL,
	[TeamCode] [varchar](25) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Staff] ([Code], [FullName], [Position], [Gender], [DateOfBirth], [Phone], [Email], [StoreCode], [Note], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [DepartmentCode], [TeamCode]) VALUES (N'BS001', N'Nguyễn Văn Hải', N'PTUT', N'Nam', CAST(N'1985-04-12' AS Date), N'0901234567', N'hainv@gmail.com', N'CTY001', NULL, 10, 1, N'system', CAST(N'2026-07-18T20:17:15.4609101' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:22:35.4277032' AS DateTime2), N'IT', N'IT-PM')
INSERT [dbo].[Staff] ([Code], [FullName], [Position], [Gender], [DateOfBirth], [Phone], [Email], [StoreCode], [Note], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [DepartmentCode], [TeamCode]) VALUES (N'BS002', N'Trần Thị Mai', N'NV', N'Nữ', CAST(N'1990-08-25' AS Date), N'0902345678', NULL, N'CTY001', NULL, 20, 1, N'system', CAST(N'2026-07-18T20:17:15.4609101' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:22:49.7714217' AS DateTime2), N'KD', N'KD-KV1')
INSERT [dbo].[Staff] ([Code], [FullName], [Position], [Gender], [DateOfBirth], [Phone], [Email], [StoreCode], [Note], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [DepartmentCode], [TeamCode]) VALUES (N'BS003', N'Lê Minh Quân', N'NV', N'Nam', CAST(N'1988-01-30' AS Date), N'0903456789', NULL, N'CTY001', NULL, 30, 1, N'system', CAST(N'2026-07-18T20:17:15.4609101' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:22:58.7870300' AS DateTime2), N'HCNS', N'HCNS-HC')
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([DepartmentCode])
REFERENCES [dbo].[Department] ([Code])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Team] FOREIGN KEY([TeamCode])
REFERENCES [dbo].[Team] ([Code])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Team]
GO
