USE [DB_IU]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PaymentMethod] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'CK', N'Chuyển khoản', N'Chuyển khoản ngân hàng', 2, 1, N'system', CAST(N'2026-07-28T13:55:14.8587295' AS DateTime2), N'lytp', CAST(N'2026-07-28T14:12:29.2904618' AS DateTime2))
INSERT [dbo].[PaymentMethod] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'THE', N'Quẹt thẻ', N'Thẻ tín dụng / ghi nợ qua máy POS', 3, 1, N'system', CAST(N'2026-07-28T13:55:14.8587295' AS DateTime2), NULL, NULL)
INSERT [dbo].[PaymentMethod] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'TM', N'Tiền mặt', N'Thanh toán bằng tiền mặt', 1, 1, N'system', CAST(N'2026-07-28T13:55:14.8587295' AS DateTime2), N'lytp', CAST(N'2026-07-28T14:08:00.9612851' AS DateTime2))
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
