USE [DB_IU]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[TaxCode] [varchar](25) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Representative] [nvarchar](100) NULL,
	[Note] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Company] ([Code], [Name], [ShortName], [TaxCode], [Address], [Phone], [Email], [Website], [Representative], [Note], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'CTY001', N'Công ty TNHH NextJS', N'NextJS', N'0888888888', N'888 Trường Sơn - Phường 2 - Tân Bình - TPHCM', N'0978888674', N'lytp.it@gmail.com', N'fullstack.com.vn', N'Thạch Tôn Thiên Ý', NULL, 10, 1, N'system', CAST(N'2026-07-18T20:26:56.7779107' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:27:32.2031553' AS DateTime2))
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
