USE [DB_IU]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Position] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'KTT', N'Kế toán trưởng', N'Kế toán trưởng', 103, 1, N'lytp', CAST(N'2026-07-27T20:21:12.3790816' AS DateTime2), NULL, NULL)
INSERT [dbo].[Position] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'NV', N'Nhân viên', N'Nhân viên', 104, 1, N'lytp', CAST(N'2026-07-27T20:21:29.9102984' AS DateTime2), NULL, NULL)
INSERT [dbo].[Position] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'PP', N'Phó Phòng', N'Phó Phòng', 102, 1, N'lytp', CAST(N'2026-07-27T20:20:44.3620465' AS DateTime2), N'lytp', CAST(N'2026-07-27T20:21:42.6759650' AS DateTime2))
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
