USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysSoftwareUpdateLog]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysSoftwareUpdateLog](
	[UpdateID] [bigint] IDENTITY(1,1) NOT NULL,
	[SoftwareName] [nvarchar](200) NOT NULL,
	[SoftwareCode] [varchar](50) NULL,
	[Module] [nvarchar](200) NULL,
	[OldVersion] [varchar](50) NULL,
	[NewVersion] [varchar](50) NOT NULL,
	[UpdateType] [varchar](30) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ReleaseNotes] [nvarchar](max) NULL,
	[Environment] [varchar](20) NOT NULL,
	[ServerName] [nvarchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](100) NOT NULL,
	[UpdateStartTime] [datetime2](0) NOT NULL,
	[UpdateEndTime] [datetime2](0) NULL,
	[DurationSeconds]  AS (datediff(second,[UpdateStartTime],[UpdateEndTime])) PERSISTED,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_SoftwareUpdateLog] PRIMARY KEY CLUSTERED 
(
	[UpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysSoftwareUpdateLog] ON 

INSERT [dbo].[SysSoftwareUpdateLog] ([UpdateID], [SoftwareName], [SoftwareCode], [Module], [OldVersion], [NewVersion], [UpdateType], [Description], [ReleaseNotes], [Environment], [ServerName], [Status], [ErrorMessage], [UpdatedBy], [UpdateStartTime], [UpdateEndTime], [CreatedAt]) VALUES (1, N'HRM System', NULL, NULL, N'1.2.0', N'1.3.0', N'Minor', N'Cập nhật module chấm công, sửa lỗi báo cáo', NULL, N'PROD', NULL, N'Success', NULL, N'sa', CAST(N'2026-04-29T09:21:59.0000000' AS DateTime2), CAST(N'2026-04-29T09:21:59.0000000' AS DateTime2), CAST(N'2026-04-29T09:21:59.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SysSoftwareUpdateLog] OFF
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_UpdateType]  DEFAULT ('Patch') FOR [UpdateType]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_Environment]  DEFAULT ('PROD') FOR [Environment]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_Status]  DEFAULT ('Success') FOR [Status]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_UpdatedBy]  DEFAULT (suser_sname()) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_StartTime]  DEFAULT (sysdatetime()) FOR [UpdateStartTime]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] ADD  CONSTRAINT [DF_SoftwareUpdateLog_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog]  WITH CHECK ADD  CONSTRAINT [CK_SoftwareUpdateLog_Environment] CHECK  (([Environment]='PROD' OR [Environment]='UAT' OR [Environment]='TEST' OR [Environment]='DEV'))
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] CHECK CONSTRAINT [CK_SoftwareUpdateLog_Environment]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog]  WITH CHECK ADD  CONSTRAINT [CK_SoftwareUpdateLog_Status] CHECK  (([Status]='InProgress' OR [Status]='Rollback' OR [Status]='Failed' OR [Status]='Success'))
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] CHECK CONSTRAINT [CK_SoftwareUpdateLog_Status]
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog]  WITH CHECK ADD  CONSTRAINT [CK_SoftwareUpdateLog_UpdateType] CHECK  (([UpdateType]='Rollback' OR [UpdateType]='Hotfix' OR [UpdateType]='Patch' OR [UpdateType]='Minor' OR [UpdateType]='Major'))
GO
ALTER TABLE [dbo].[SysSoftwareUpdateLog] CHECK CONSTRAINT [CK_SoftwareUpdateLog_UpdateType]
GO
