USE [DB_IU]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Unit] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'DVT01', N'Cái', N'Cái', 10, 1, N'system', CAST(N'2026-07-19T01:17:13.7296620' AS DateTime2), N'lytp', CAST(N'2026-07-19T01:19:47.3703006' AS DateTime2))
INSERT [dbo].[Unit] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'DVT02', N'Chiếc', N'Chiếc', 20, 1, N'system', CAST(N'2026-07-19T01:17:13.7296620' AS DateTime2), NULL, NULL)
INSERT [dbo].[Unit] ([Code], [Name], [Description], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'DVT03', N'Bộ', N'Bộ', 30, 1, N'system', CAST(N'2026-07-19T01:17:13.7296620' AS DateTime2), NULL, NULL)
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
