USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysAccounts]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](65) NULL,
	[Description] [nvarchar](85) NULL,
	[EmployeeCode] [varchar](25) NULL,
	[StoreCode] [varchar](25) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[IsAdmin] [bit] NULL,
	[Locked] [bit] NULL,
	[Notes] [nvarchar](150) NULL,
	[Status] [nvarchar](20) NULL,
	[DefaultPage] [nvarchar](40) NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CurrentSessionId] [nvarchar](64) NULL,
 CONSTRAINT [PK_SysAccount] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysAccounts] ON 

INSERT [dbo].[SysAccounts] ([Id], [UserName], [Password], [Description], [EmployeeCode], [StoreCode], [CompanyCode], [IsAdmin], [Locked], [Notes], [Status], [DefaultPage], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CurrentSessionId]) VALUES (185, N'admin', N'dnaqr7AnyCW9mrq3iyNAcOcCdS9iW3UuVeVbSOYH41g=', N'Quản trị', NULL, NULL, N'CTY001', 0, 0, NULL, N'Active', N'/', N'lytp', CAST(N'2026-07-22T15:53:50.0521726' AS DateTime2), N'lytp', CAST(N'2026-07-27T21:56:57.2429476' AS DateTime2), N'982b437f-7915-46fd-93bc-fdbd45ed076f')
INSERT [dbo].[SysAccounts] ([Id], [UserName], [Password], [Description], [EmployeeCode], [StoreCode], [CompanyCode], [IsAdmin], [Locked], [Notes], [Status], [DefaultPage], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CurrentSessionId]) VALUES (32, N'lytp', N'ktj6bt9kv3n9AZFfPeL3yBkd3/YqSt5FV+bG7/gCjPc=', N'Thạch Pho Ly', N'DD002', NULL, N'CTY001', 1, 0, NULL, N'Active', N'/', N'admin', CAST(N'2022-03-20T22:34:27.5430000' AS DateTime2), N'lytp', CAST(N'2026-07-26T20:42:15.4420604' AS DateTime2), N'231ce9a8-8ce7-4d51-b1cd-ecac56ec5d06')
INSERT [dbo].[SysAccounts] ([Id], [UserName], [Password], [Description], [EmployeeCode], [StoreCode], [CompanyCode], [IsAdmin], [Locked], [Notes], [Status], [DefaultPage], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [CurrentSessionId]) VALUES (184, N'yttt', N'ktj6bt9kv3n9AZFfPeL3yBkd3/YqSt5FV+bG7/gCjPc=', N'Thạch Tôn Thiên Ý', N'LT001', NULL, N'CTY001', 0, 0, NULL, N'Active', N'settings/accounts
', N'lytp', CAST(N'2026-07-18T22:32:07.6168773' AS DateTime2), N'lytp', CAST(N'2026-07-27T14:07:41.5047475' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[SysAccounts] OFF
GO
