USE [DB_IU]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[LocationCode] [nvarchar](10) NULL,
	[ManagerCode] [varchar](25) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[HeadCount] [int] NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Code], [Name], [Description], [LocationCode], [ManagerCode], [Phone], [Email], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'BGD', N'Ban giám đốc', N'Điều hành chung toàn công ty', N'S0001', N'BS001', NULL, NULL, 3, 1, 1, N'system', CAST(N'2026-07-27T18:52:30.2005948' AS DateTime2), N'lytp', CAST(N'2026-07-27T19:06:07.3332772' AS DateTime2))
INSERT [dbo].[Department] ([Code], [Name], [Description], [LocationCode], [ManagerCode], [Phone], [Email], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'HCNS', N'Hành chính nhân sự', N'Tuyển dụng, chế độ, hành chính văn phòng', N'S0002', NULL, NULL, NULL, 8, 2, 1, N'system', CAST(N'2026-07-27T18:52:30.2005948' AS DateTime2), N'lytp', CAST(N'2026-07-27T19:25:20.2401107' AS DateTime2))
INSERT [dbo].[Department] ([Code], [Name], [Description], [LocationCode], [ManagerCode], [Phone], [Email], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'IT', N'Công nghệ thông tin', N'Hạ tầng, phần mềm, hỗ trợ kỹ thuật', NULL, NULL, NULL, NULL, 5, 6, 1, N'system', CAST(N'2026-07-27T18:52:30.2005948' AS DateTime2), N'lytp', CAST(N'2026-07-27T19:25:14.1776125' AS DateTime2))
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_HeadCount]  DEFAULT ((0)) FOR [HeadCount]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
