USE [DB_IU]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationCode] [nvarchar](10) NOT NULL,
	[LocationName] [nvarchar](125) NOT NULL,
	[Region] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[City] [nvarchar](30) NULL,
	[Country] [nvarchar](30) NULL,
	[Brand] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](25) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](25) NULL,
	[UpdatedAt] [datetime] NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK__Location__DDB144D496754A3A] PRIMARY KEY CLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Locations] ([LocationCode], [LocationName], [Region], [Address], [City], [Country], [Brand], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [SortOrder]) VALUES (N'S0001', N'SHOP S0001', N'Miền Nam', N'88 Nguyễn Ảnh Thủ - Q12', N'Thành phố Hồ Chí Minh', N'Việt Nam', N'SHOP', 1, N'lytp', CAST(N'2026-07-27T14:12:42.220' AS DateTime), N'lytp', CAST(N'2026-07-27T20:18:46.627' AS DateTime), 1)
INSERT [dbo].[Locations] ([LocationCode], [LocationName], [Region], [Address], [City], [Country], [Brand], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [SortOrder]) VALUES (N'S0002', N'SHOP S0002', N'Miền Nam', N'15 Thống Nhất', N'Thành phố Hồ Chí Minh', N'Việt Nam', N'SHOP', 1, N'lytp', CAST(N'2026-07-27T14:14:55.333' AS DateTime), NULL, NULL, 2)
GO
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [DF_Locations_Brand]  DEFAULT ('') FOR [Brand]
GO
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [DF_Locations_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
