USE [DB_IU]
GO
/****** Object:  UserDefinedFunction [dbo].[fnProperCase]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   Function [dbo].[fnProperCase]
(
    @input NVarchar(4000)
)
Returns NVarchar(4000)
As
Begin
    Declare @result NVarchar(4000) = Lower(@input);
    Declare @i Int = 1;
    Declare @len Int = Len(@result);
    Declare @capNext Bit = 1;
    Declare @char NChar(1);
    While @i <= @len
    Begin
        Set @char = Substring(@result, @i, 1);
        If @char In (' ', '(', '[', '{', '-', '/', '.', ',', '''', '"', '&') Or @char = Char(9) Or @char = Char(10) Or @char = Char(13)
            Set @capNext = 1;
        Else If @capNext = 1
        Begin
            Set @result = Stuff(@result, @i, 1, Upper(@char));
            Set @capNext = 0;
        End;
        Set @i = @i + 1;
    End;
    Return @result;
End;
GO
