USE [DB_IU]
GO
/****** Object:  Table [dbo].[SysMenus]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Text] [nvarchar](150) NOT NULL,
	[name] [nvarchar](250) NULL,
	[Path] [nvarchar](55) NULL,
	[Icon] [nvarchar](35) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[IconColor] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_SysMenus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SysMenus] ON 

INSERT [dbo].[SysMenus] ([Id], [ParentId], [Text], [name], [Path], [Icon], [IsActive], [SortOrder], [IconColor]) VALUES (2, 0, N'Tổng quan', N'', N'/', N'Leaderboard', 1, 1, N'')
INSERT [dbo].[SysMenus] ([Id], [ParentId], [Text], [name], [Path], [Icon], [IsActive], [SortOrder], [IconColor]) VALUES (7, 0, N'Quản lý danh mục', N'', N'', N'TableChart', 1, 7, N'')
INSERT [dbo].[SysMenus] ([Id], [ParentId], [Text], [name], [Path], [Icon], [IsActive], [SortOrder], [IconColor]) VALUES (8, 0, N'Hệ thống', N'', N'', N'Settings', 1, 8, N'')
SET IDENTITY_INSERT [dbo].[SysMenus] OFF
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_name]  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_Path]  DEFAULT ('') FOR [Path]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_Icon]  DEFAULT ('') FOR [Icon]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_SortOrder]  DEFAULT ((100)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[SysMenus] ADD  CONSTRAINT [DF_SysMenus_IconColor]  DEFAULT (N'#3b4a7d') FOR [IconColor]
GO
