USE [DB_IU]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 7/28/2026 3:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Code] [varchar](25) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DepartmentCode] [varchar](25) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[LeaderCode] [varchar](25) NULL,
	[HeadCount] [int] NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](25) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](25) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Team] ([Code], [Name], [DepartmentCode], [Description], [LeaderCode], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'HCNS-HC', N'Tổ hành chính', N'HCNS', N'Văn thư, lễ tân, quản lý tài sản', NULL, 4, 2, 1, N'system', CAST(N'2026-07-27T19:10:49.9961815' AS DateTime2), NULL, NULL)
INSERT [dbo].[Team] ([Code], [Name], [DepartmentCode], [Description], [LeaderCode], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'HCNS-TD', N'Tổ tuyển dụng', N'HCNS', N'Tuyển dụng và hội nhập nhân sự mới', NULL, 3, 1, 1, N'system', CAST(N'2026-07-27T19:10:49.9961815' AS DateTime2), N'lytp', CAST(N'2026-07-27T21:56:47.5867025' AS DateTime2))
INSERT [dbo].[Team] ([Code], [Name], [DepartmentCode], [Description], [LeaderCode], [HeadCount], [SortOrder], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'IT-HT', N'Tổ hạ tầng', N'IT', N'Máy chủ, mạng, thiết bị', NULL, 2, 8, 1, N'system', CAST(N'2026-07-27T19:10:49.9961815' AS DateTime2), NULL, NULL)
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_HeadCount]  DEFAULT ((0)) FOR [HeadCount]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Department] FOREIGN KEY([DepartmentCode])
REFERENCES [dbo].[Department] ([Code])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Department]
GO
